body {
    font-family: sans-serif;
    margin: auto;
    background-color: #bdc9bf;
    color: #003609;
}

.frame {
    border: 1px solid grey;
    margin: 5px auto;
    padding: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    display: block;
    margin: auto;
    width: 300px;
}


.stats-panel, .shop-panel {
    border: 1px solid #003609;
    padding: 2px;
}

.stats-item, .shop-item {
}

.game-area {
    display: flex;
    flex-direction: column;
}

.clicker-button {
    display: block;
    margin: auto;
    background: none;
    border: none;
}

.clicker-button:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.child-spawner, .buy-button {
    display: block;
    margin: auto;
    font-size: inherit;
    color: inherit;
}
